.tarjeta {
  width: 400px;
  height: 600px;
  margin: 10px;
}
.tarjeta h2 {
  background-color: aquamarine;
}
.tarjeta img {
  width: 200px;
}

.product {
  margin: 10px;
  width: 300px;
  height: 600px;
}

.productoItem {
  background-color: aquamarine;
  margin-left: 200px;
}
