.tarjeta {
  width: 400px;
  height: 600px;
  margin: 10px;
}

.tarjeta img {
  width: 200px;

}

.product {
  display: inline-block;

  margin: 10px;
  width: 300px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden; 
  
}


.product:hover {
  /* margin: 10px; */
  width: 300px;
  max-height: 500px;
  transition: max-height 1000ms linear;
  text-overflow: initial; 
  white-space: initial;
  overflow: initial; 
  z-index: 1000;
  margin: 0px, 0px, 0px, 10px;
}



.productoItem {
  margin-left: 20px;
  border-radius: 2px;
  border: 1px solid rgba(160, 160, 160, 0.5);
  padding-left: 20px;
  text-overflow: ellipsis; 
  overflow: hidden; 
  
}
